<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/log.css" type="text/css" media="screen" />
    <title>{{ title }}</title>
    <link rel="icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <h1 class="main-header">Climbing Log</h1>
    {% for table in data %}
    <table id="{{ table[0] }}" class="table table-condensed" >
      <caption>
        <span class="table-header">{{ table[1] }}</span>
        <span class="table-header">{{ table[2] }}</span>
        <span class="table-header">{{ table[3] }}</span>
        {% for ref in table[4] %}
        <span class="refs"><a href="{{ ref[1] }}">{{ ref[0] }}</a></span>
        {% endfor %}
      </caption>
      <thead>
        <col width="10%">
        <col width="25%">
        <col width="15%">
        <col width="15%">
        <col width="35%">
        <tr>
          <th>Route #</th>
          <th>Route Name</th>
          <th>Grade</th>
          <th>Ascend Type</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      {% for route in table[5] %}
        <tr>
        {% for item in route %}
          <td>{{ item }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </body>
</html>
