<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="log.css" type="text/css" />
    <title>{{ title }}</title>
    <link rel="icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <h1 class="main-header">Climbing Log</h1>
    {% for date, location, grading, refs, routes in data %}
    <table id="{{ date.strftime('%Y%m%d') }}" class="table table-condensed" >
      <caption>
        <span class="table-header">
          <span>{{ date.strftime('%B %e, %Y') }}</span>
          <span class="table-header-bullet">&bull;</span>
          <span>{{ location }}</span>
          <a class="table-header-link-icon" href="#{{ date.strftime('%Y%m%d') }}">&#x1f517;</a>
        </span>
        {% for anchor, link in refs %}
        <span class="refs"><a href="{{ link }}">{{ anchor }}</a></span>
        {% endfor %}
      </caption>
      <thead>
        <col width="10%">
        <col width="25%">
        <col width="15%">
        <col width="15%">
        <col width="35%">
        <tr>
          <th>Num</th>
          <th>Name</th>
          <th>Grade ({{ grading }})</th>
          <th>Style</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      {% for route in routes %}
        <tr>
        {% for item in route %}
          <td>{{ item }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </body>
</html>
